<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="vc_row wpb_row vc_row-fluid" style="padding: 50px">
    <div>

      <div class="input-group mb-3">
        <h2 style="padding-right: 20px">
          Xin chào , chúng tôi có thể giúp gì cho bạn ?
        </h2>
        <input type="search" class="form-control" placeholder="Hãy cho chúng tôi biết vấn đề của bạn"
               aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text" id="basic-addon2">Search
          <!--     <button type="button" class="btn btn-primary shadow">Tìm kiếm <i class="fa-solid fa-magnifying-glass"></i></button>-->
      </span>
      </div>
    </div>
    <div class="row" style="padding-top: 30px">
      <div class="col-4">
        <div id="list-example" class="list-group">
          <a class="list-group-item list-group-item-action" href="#list-item-1">Thủ tục đấu giá sản phẩm</a>
          <a class="list-group-item list-group-item-action" href="#list-item-2">Đường dây nóng</a>
          <a class="list-group-item list-group-item-action" href="#list-item-3">Hướng dẫn đấu giá và truy cập</a>
          <a class="list-group-item list-group-item-action" href="#list-item-4">Hòm Thư góp ý</a>
        </div>
      </div>
      <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example"
             tabindex="0">
          <h4 id="list-item-1">Item 1</h4>
          <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
            the appropriate navigation link is highlighted. It's repeated throughout the component example.
            We keep adding some more example copy here to emphasize the scrolling and highlighting.
            This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
            the appropriate navigation link is highlighted. It's repeated throughout the component example.
            We keep adding some more example copy here to emphasize the scrolling and highlighting.
            This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
            the appropriate navigation link is highlighted. It's repeated throughout the component example.
            We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
          <h4 id="list-item-2">Item 2</h4>
          <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
            the appropriate navigation link is highlighted. It's repeated throughout the component example.
            We keep adding some more example copy here to emphasize the scrolling and highlighting.
            This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
            the appropriate navigation link is highlighted. It's repeated throughout the component example.
            We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
          <h4 id="list-item-3">Item 3</h4>
          <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
            the appropriate navigation link is highlighted. It's repeated throughout the component example.
            We keep adding some more example copy here to emphasize the scrolling and highlighting.
            This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
            the appropriate navigation link is highlighted. It's repeated throughout the component example.
            We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
          <h4 id="list-item-4">Item 4</h4>
          <p>This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
            the appropriate navigation link is highlighted. It's repeated throughout the component example.
            We keep adding some more example copy here to emphasize the scrolling and highlighting.
            This is some placeholder content for the scrollspy page. Note that as you scroll down the page,
            the appropriate navigation link is highlighted. It's repeated throughout the component example.
            We keep adding some more example copy here to emphasize the scrolling and highlighting.</p>
        </div>
      </div>
    </div>
  </div>





