<h1>Countdown Timer</h1>

<!--<div class="group-actions">-->
<!--  <button type="button" class="btn btn-primary" (click)="start()">Start</button>-->
<!--  <button type="button" class="btn btn-secondary" (click)="stop()">Stop</button>-->
<!--  <button type="button" class="btn btn-success" (click)="reset()">Reset</button>-->
<!--</div>-->
<!--<div class="timer">-->
<!--  <span class="timer-text">{{ remainingTime }}</span>-->
<!--</div>-->
<!--<p>{{ message }}</p>-->






<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="start()">
  Launch demo modal
</button>






<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <span class="timer-text">{{ remainingTime }}</span>
      <p>{{ message }}</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="stop()">Stop</button>
        <button type="button" class="btn btn-success" (click)="reset()">Reset</button>
      </div>
    </div>
  </div>
</div>
